/*
$enable-flex:               true;
$enable-grid-classes:       true;


$container-max-widths: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1100px
) !default;



$modal-xl:                          800px;
$modal-lg:                          800px;
$modal-md:                          800px;
$modal-sm:                          80%;
*/
