$fa-font-path:        "../../webfonts";


// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

// Font Variables
$roboto-slab: 'Roboto Slab', serif;   
$open-sans: 'Open Sans', sans-serif;





$white : #fff;
$black : #000;

$red: #F26159;

$color1 : #8deca8;
$color2 : #012b41;
$color3 : #4C7684;
$color4 : #a3ddeb;

$color5 : #b3144e;

$color6: #005C97;

$tint : #F7F7F7;

$grey : #eee;

$bold : 700;
$semi-bold : 600;
$normal : 400;


